@import "../../styles/abstracts/variables";
.dishes-menu-top {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 60px 0;
}
.dishes-menu-title {
  font-size: 20px;
  color: $primary-font-color;
}
// Dropdown menu stilleri
.order-type {
  padding: 8px;
  border-radius: 5px;
  background-color: $secondary-bg;
  border: 1px solid $primary-bg;
  color: $primary-font-color;
  cursor: pointer;
}

.filter-options {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.dishes-menu {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 25px;
}
