@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/index";

.dashboard-page {
  @extend %main-container;

  display: flex;
  align-items: start;
  justify-content: center;
  font-size: 50px;
  background-color: $primary-bg;
  gap: 50px;
  color: $primary-font-color;

  .dashboard-page-left {
    flex: 2.5;
    // border: 1px solid yellow;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    .dashboard-header {
      font-family: $secondary-font;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $primary-bg;
      border-bottom: 1px solid $line-color;
      padding: 10px 0;
    }
    .dashboard-user-date-field {
      font-family: $secondary-font;
      color: $primary-font-color;
      margin-bottom: 20px;
    }

    .dashboard-title {
      font-weight: 500;
      font-size: 28px;
      line-height: 45px;
    }

    .dashboard-date-field {
      font-weight: 300;
      font-size: 16px;
    }
  }

  .dashboard-page-right {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    // border: 1px solid red;
  }
}
