@import "../../styles/abstracts/variables";

.settings-page {
  background-color: $primary-bg;
  color: $primary-font-color;
  font-family: $primary-font;
  padding: 25px;
  width: 100vw;
  h1 {
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 28px;
  }
}
.main-container {
  display: flex;
  justify-content: space-between;
}
