@import "../../styles/abstracts/variables";
.outer-container {
  position: relative;
  width: 100%;
}
.settings-page {
  min-height: 100vh;
  width: calc(100% - 100px);
  padding: 1em;
  margin: 0 0 0 auto;
  font-family: $primary-font, sans-serif;
  background-color: $primary-bg;
  color: $primary-font-color;

  h1 {
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 28px;
  }
}
.main-container {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}
.overlay-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.81);
  z-index: 1000;
}

@media (max-width: 768px) {
  .settings-page {
    width: calc(100% - 70px);
  }
  .main-container {
    flex-direction: column;
  }
}
