@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$primary-bg: #393c49;
$secondary-bg: #1f1d2b;
$accent-color: #ea7c69;
$primary-font-color: #fff;

$button-shadow: 0 8px 24px #eb7d6a32, 0 0 8px #ea7c69;

$linear-color: linear-gradient(
  to bottom right,
  rgba(186, 186, 251, 1),
  rgba(237, 145, 167, 1),
  rgba(241, 169, 96, 1)
);

$primary-font: "Outfit", sans-serif;
$secondary-font: "Barlow", sans-serif;
