@import "../../styles/abstracts/index";

.management-container {
  width: 60%;
  min-height: 100vh;
  background-color: $secondary-bg;
  border-radius: 8px;
  padding: 25px;
}
.header-sticky {
  position: sticky;
  top: 0;
  background-color: $secondary-bg;
}
.product-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 25px;
  padding: 25px 0;
}

.add-dish-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: $accent-color;
  border: 1px dashed $accent-color;
  border-radius: 8px;

  span {
    font-size: 25px;
  }
  p {
    font-size: 16px;
  }
}
