@import "../../styles/abstracts/index";

.analytic-container {
  background-color: $secondary-bg;
  border-radius: 8px;
  padding: 16px;
  flex: 1;
}

.ratio-container {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 8px;
}
.ratio {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #50d1aa;
  span {
    font-size: 12px;
    font-weight: 500;
  }
}
.total-number {
  font-size: 28px;
  font-weight: 600;
}
.total-title {
  font-size: 14px;
  margin-top: 8px;
  color: $secondary-font-color;
}
