@import "../../styles/abstracts/variables";

.header {
  font-family: $secondary-font;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-bg;
}

.user-date-field {
  font-family: $secondary-font;
  color: $primary-font-color;
  margin-bottom: 20px;
}

.user-name-field {
  font-weight: 500;
  font-size: 28px;
  line-height: 45px;
}

.date-field {
  font-weight: 300;
  font-size: 16px;
}

.search-input {
  border: none;
}

.header-input {
  width: 235px;
  height: 48px;
  background: #2d303e url(../../../public/search-icon.png) no-repeat 13px center;
  border: 1px;
  padding: 14px 14px 14px 40px;
  border-radius: 8px;
}

input:focus {
  color: $primary-font-color;
}
