@import "../../styles/abstracts/index";

.Most-type-of-order {
  background-color: $secondary-bg;
  max-width: 372px;
  max-height: 333px;
  border-radius: 8px;
  padding: 20px 30px;
  .Most-type-of-order-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid $line-color;

    .Most-type-of-order-heading-title {
      color: $primary-font-color;
      font-size: 20px;
      font-weight: 600;
    }
    .Most-type-of-order-select {
      padding: 14px;
      border: 1px solid $line-color;
      border-radius: 8px;
      outline: none;
      font-size: 14px;
      background-color: $secondary-bg;
      color: $primary-font-color;
      cursor: pointer;
      &:hover {
        background-color: $line-color;
      }
    }
  }

  .Most-type-of-order-chart {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
