@import "../../styles/abstracts/placeholders";

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: $linear-color;

  font-family: $primary-font;
  color: $primary-font-color;

  .login-container {
    background-color: lighten($primary-bg, 50%);
    // background-color: $primary-bg;
    border-radius: 8px;
    padding: 40px;
    box-shadow: $button-shadow;
    width: 400px;
    text-align: center;

    .login-title {
      font-size: 2rem;
      margin-bottom: 20px;
      color: $secondary-bg;
    }

    form {
      display: flex;
      flex-direction: column;

      .login-email-container,
      .login-password-container {
        margin-bottom: 16px;
        padding: 10px;
        border: 1px solid $line-color;
        border-radius: 4px;
        background: none;
        color: $primary-bg;
        font-family: $primary-font;
        font-size: 1rem;
        // transition: background-color 0.3s ease, color 0.3s ease;
        display: flex;

        .login-email,
        .login-password {
          border: none;
          display: flex;
          align-items: center;
          width: 100%;
          background: none;
        }
      }
      .login-icon {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 5px;
      }

      .login-btn {
        padding: 10px;
        border: none;
        border-radius: 4px;
        color: $primary-font-color;
        cursor: pointer;
        background-color: $accent-color;
        &:hover {
          background-color: darken($accent-color, 10%);
        }
      }
      .login-signup {
        margin-top: 20px;
        font-weight: 600;
        color: $primary-bg;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
