@import "../../styles/abstracts/variables";

.sidebar {
  width: 250px;
  background-color: $secondary-bg;
  color: $primary-font-color;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 999;
  transition: width 300ms ease;
  padding: 1em 0;

  .left-arrow {
    text-align: center;
    cursor: pointer;
    img {
      width: 30px;
      transition: transform 600ms ease;
    }
  }
}

.navbar-items {
  width: 100px;
  // height: 80px;
  background-color: $primary-bg;
  border-radius: 6px 0 0 6px;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 50px 0 20px 0;
}

.active-link {
  background-color: $accent-color;
  border-radius: 8px;

  svg path {
    fill: $primary-font-color;
  }
}

.sidebar-collapsed {
  width: 100px;
}

@media (max-width: 768px) {
  .sidebar-collapsed {
    width: 70px;
  }
}
