@import "../../styles/abstracts/variables";

.sidebar {
  width: 100px;
  background-color: $secondary-bg;
  color: $primary-font-color;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  height: 100%;
  padding: 1em 0;
  z-index: 1;
}

.navbar-items {
  width: 100px;
  height: 80px;
  padding-left: 10px;
}

.nav-items {
  width: 100px;
  background-color: $primary-bg;
  border-radius: 15px 0 0 15px;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 90px;
  margin-top: 70px;
}

.active-link {
  background-color: $accent-color;
  border-radius: 8px;

  svg path {
    fill: $primary-font-color;
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 70px;
  }
  .navbar-items {
    width: 70px;
  }
  .nav-items {
    width: 70px;
    padding-left: 2px;
  }
  .nav-item {
    width: 60px;
  }
  .active-link {
    width: 50px;
  }
}
