@import "../../styles/abstracts/index";

.list-container {
  padding: 24px;
  display: flex;
  gap: 6px;
}

.list-title-container {
  h4 {
    font-size: 14px;
    font-weight: 500;
  }
  p {
    font-size: 12px;
    font-weight: 400;
    color: $secondary-font-color;
    padding: 3px 0;
  }
}
