@import "../../styles/abstracts/placeholders";

.main-root {
  @extend %main-container;
  position: relative;
  transition: width 0.3s ease;
}

.main-root.shrink {
  width: calc(100% - 410px);
  margin-right: 410px;
  padding-left: 116px;
}
